*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  list-style-type: none;
  text-decoration: none;
  font-family: Oswald, sans-serif;
}

html {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: transparent;  
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}

.cart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}

.nav-item{
  color: white;
}

.nav-item:hover{
  color:black;
}

.ItemCounter-background{
  margin-top: 1rem;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  border-radius: 50px;
  padding: 1rem;
  width: 250px;
}

.ItemCounter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.ItemCounter-container p{
  color: white;
  margin: 1rem;
}

.ItemCounter-container button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  min-width: 20px;
  color: white;
}

.ItemCounter-container button:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.9;
}

.ItemCounter-position{
  display: flex;
  justify-content: center;
}

.ItemCounter-add {
  color:white;
  width: 150px;
  text-transform: uppercase;
  border: none;
  background: transparent;
}

.ItemCounter-add:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.8;
}