*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  list-style-type: none;
  text-decoration: none;
  font-family: Oswald, sans-serif;
}


/* CONFIGURACION OPTIMA BACKGROUND */
html {
  height: 100%;
  background: url(../public/gradient\ body\ background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ******************************** */

.App {
  text-align: center;
}

.App-header {
  background-color: transparent;  
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}


.cart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}

.nav-item{
  color: white;
}

.nav-item:hover{
  color:black;
}

.Itemcount-background{
  margin-top: 1rem;
  /* GRADIENTE BASE CONTAINERS */
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  /* ******************************* */
  border-radius: 50px;
  padding: 1rem;
  width: 250px;
}

.Itemcount-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.Itemcount-container p{
  color: white;
  margin: 1rem;
}

.Itemcount-container button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  min-width: 20px;
  color: white;
}

.Itemcount-container button:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.9;
}

.Itemcount-position{
  display: flex;
  justify-content: center;
}

.Itemcount-add {
  color:white;
  width: 150px;
  text-transform: uppercase;
  border: none;
  background: transparent;
}

.Itemcount-add:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.8;
}

.div-books{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.books-ul img{
  display: flex;
  flex-direction: row;
  width: 300px;
}

/* .detail-container{
  width: 500px;
} */
.detail-content1 img{
  width: 300px;
}

.item-detail-container{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.detail-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap:6em;
}

.detail-content3-center{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detail-p, .detail-h4 {
  text-align: center;
  width: 800px;
}

.GoToCart{
  margin-top: 1rem;
  /* GRADIENTE BASE CONTAINERS */
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  /* ******************************* */
  border-radius: 50px;
  padding: 1rem;
  width: 250px;
}

.GoToCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.GoToCart{
  color: white;
  margin: 1rem;
}



/* .detail-img{
  grid-area: detail-img;
}
.detail-itemcount{
  grid-area: detail-itemcount;
}
.detail-h1{
  grid-area: detail-h1;
}

.detail-h3{
  grid-area: detail-h3;
}
.detail-h4{
  grid-area: detail-h4;
}
.detail-p{
  grid-area: detail-p;
  width: 500px;
}
.detail-pr{
  grid-area: detail-pr;
}

.grid-detail{
  display: grid;
  grid-template-areas:
  'detail-img detail-img detail-img detail-img detail-itemcount detail-itemcount '
  
  ;
  align-items: center;
} */







/* .detail-img-container{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
} */
/* 
.grid-detail{
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "detail-img detail-h1 detail-h1"
    "detail-itemcount detail-h3";
} */
/* .detail-itemcount{
  margin-left: 5rem;
} */




.categoria-item{
  color: white;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  padding: 0.5rem;
  border-radius: 50px;
}

.categoria-item:hover{
  color:black;
  
}

.categoria-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  line-height: 50px;

}

.ItemCart-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.CartProduct-position-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.CartProduct-img {
  width:200px;
  /* margin-right: 1rem;
  margin-bottom: 1rem; */
  margin: 1rem;

}

.removeProduct-button{
  background-color:rgb(53, 53, 53);
  color: white;
  padding: 0.5rem; 
  border: 1px solid rgb(53, 53, 53);
  border-radius: 50px;
  width: 80px; 
  margin-top: 1rem;
}

.removeProduct-button:hover{
  color:grey;
}


.cart-info-container  {
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); 
  padding: 1rem;
  color: white;
  border-radius: 30px;
}

.total-cart, .total-cart-nota{
  margin: 1rem;
  color:white;
}