*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  list-style-type: none;
  text-decoration: none;
  font-family: Oswald, sans-serif;
}


/* CONFIGURACION OPTIMA BACKGROUND */
html {
  height: 100%;
  background: url(../public/gradient\ body\ background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* ******************************** */

.App {
  text-align: center;
}

.App-header {
  background-color: transparent;  
  min-height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Navbar-container {
  display: flex;
  flex-direction: row;
  gap: 5em;
}


.cart-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.4em;
}

.nav-item{
  color: white;
}

.nav-item:hover{
  color:black;
}

.Itemcount-background{
  margin-top: 1rem;
  /* GRADIENTE BASE CONTAINERS */
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  /* ******************************* */
  border-radius: 50px;
  padding: 1rem;
  width: 250px;
}

.Itemcount-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.Itemcount-container p{
  color: white;
  margin: 1rem;
}

.Itemcount-container button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  min-width: 20px;
  color: white;
}

.Itemcount-container button:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.9;
}

.Itemcount-position{
  display: flex;
  justify-content: center;
}

.Itemcount-add {
  color:white;
  width: 150px;
  text-transform: uppercase;
  border: none;
  background: transparent;
}

.Itemcount-add:hover{
  background-color: rgb(31, 31, 31);
  border-radius: 50px;
  opacity: 0.8;
}

.div-books{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.books-ul img{
  display: flex;
  flex-direction: row;
  width: 300px;
}

/* .detail-container{
  width: 500px;
} */
.detail-content1 img{
  width: 300px;
}

.item-detail-container{
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
}

.detail-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  gap:6em;
}

.detail-content3-center{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detail-p, .detail-h4 {
  text-align: center;
  width: 800px;
}

.GoToCart{
  margin-top: 1rem;
  /* GRADIENTE BASE CONTAINERS */
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  /* ******************************* */
  border-radius: 50px;
  padding: 1rem;
  width: 250px;
}

.GoToCart{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}

.GoToCart{
  color: white;
  margin: 1rem;
}

.categoria-item{
  color: white;
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
  padding: 0.5rem;
  border-radius: 50px;
}

.categoria-item:hover{
  color:black;
  
}

.categoria-container{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  justify-content: center;
  line-height: 50px;

}

.ItemCart-container{
  display:flex;
  flex-direction: row;
  align-items: center;
}

.CartProduct-position-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.CartProduct-img {
  width:200px;
  /* margin-right: 1rem;
  margin-bottom: 1rem; */
  margin: 1rem;

}

.removeProduct-button{
  background-color:rgb(53, 53, 53);
  color: white;
  padding: 0.5rem; 
  border: 1px solid rgb(53, 53, 53);
  border-radius: 50px;
  width: 80px; 
  margin-top: 1rem;
}

.removeProduct-button:hover{
  color:grey;
}


.cart-info-container  {
  background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% ); 
  padding: 1rem;
  color: white;
  border-radius: 30px;
}

.total-cart, .total-cart-nota{
  margin: 1rem;
  color:white;
}

.ItemList-row{
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}

.book-container-position{
  margin: 1rem;
  padding: 1rem;
  border: 2px solid rgb(33, 33, 33, 0.5);
  border-radius: 20px;
  box-shadow: 10px 10px rgb(23, 23, 23, 0.5);
  background:rgba(117, 117, 117, 0.8)    
}

.ItemList-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-h3{
  margin-top: 1rem;
  font-size: 1em;
  text-transform: uppercase;
  color:white;
  --b: 0.1em;   /* the thickness of the line */
  --c: #2d2d2d; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,rgb(255, 255, 255) 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}

.item-h3:hover {
  --_p: 100%;
  --_s: .3s;
}

.h2-slider{
  margin-top: 2rem;
  margin-bottom: 2rem;
  color:white;
}

.h3-firma{
  color:white;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 300px;
  background-color: black;
  border-radius: 20px;
}

.h3-firma-position{
  display: flex;
  justify-content: center;
}

.footer-icon-container{
  display:flex;
  justify-content: center;
  gap: 1em;
}

.footer-icon{
  color:white;
  margin: 0.3rem;
}

.footer-icon:hover{
  color:grey;
}